html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.messages {
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(217deg, rgba(255, 0, 234, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 80.71%), linear-gradient(3deg, rgba(0, 250, 208, 0.8), rgba(255, 0, 0, 0) 100%);
}

.container {
  background-color: hsla(0, 0%, 100%, 0);
}

.form {
  color: white;
  padding: 4rem;
  display: grid;
  row-gap: 2rem;
  justify-items: self-start;
}

.receivedData {
  font-size: 4rem;
  min-height: 10rem;
  background-color: hsla(0, 0%, 100%, 0);
  transition: all .5s eas;
}

fieldset {
  width: 100%;
  min-height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

label {
  font-size: 1.4rem;
  color: var(--white);
}

input {
  border: none;
  width: 20rem;
  height: 3rem;
  /* padding: 0.5rem 2.9rem; */
}

textarea {
  border-radius: 0px;
  color: var(--white);
  resize: none;
  background-color: hsla(0, 0%, 100%, 0);
  font-size: 4rem;
  border: none;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.281);
  /* min-height: 20rem; */
  width: 100%;
  transition: border 0.2s ease-in-out;
}

textarea:focus {
  outline: none;
}

textarea:valid {
  border-bottom: 1px solid rgb(255, 255, 255);
}

button {
  color: var(--black);
  background-color: hsla(0, 0%, 100%, 0.582);
  transition: background-color 0.2s ease-in-out;
  /* white-space: nowrap; */
}

button:hover {
  background-color: hsla(0, 0%, 100%, 0.712);
}

button:active {
  background-color: rgb(255, 255, 255);
}

.container:nth-child(even) .form {}

.container:nth-child(even) .form p {
  border: none;
}

/* MEDIA QUERIE */

@media screen and (max-width: 600px) {
  .messages {
    min-height: 90vh;
  }
  .container:nth-child(even) {
    /* background-color: rgb(36, 36, 36); */
  }
  .container {
    width: 100%;
  }
  .form {
    max-width: 100%;
    min-width: 0;
    border: none;
  }
  label {
    font-size: 1.2rem;
  }
  .form textarea {
    min-height: 5rem;
    min-width: 85%;
    font-size: 2rem;
  }
  .receivedData {
    font-size: 2rem;
    min-width: 75%;
    min-height: 5rem;
  }
  button {
    font-size: 1.4rem;
  }
}